<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body{
            text-align: center;
        }
        button{
            border: none;
            border-radius: 10px;
            background:#42A5F5;
            color: white;
            width: 80px;
            height: 40px;
            text-align: center;
        }
        button:hover{
            background: #148df0;
            color: white;
        }
    </style>
</head>
<body>

    <h2 id="diary_title" name="diary_title">{{diary.diary_title}}</h2><br><br>

    <p id="diary_date" name="diary_date">{{month_day}}<span>{{year}}</span></p><br><br>
        
    {% if image %}
    <img src="data:;base64,{{image}}" width="350" height="350"/>
    {% endif %}

    <p id="diary_content" name="diary_content">{{diary.diary_content}}</p><br><br>

    <button type="button"><a href="{{url_for('updateDiary',id=diary.id)}}">수정하기</a></button>

    <button type="button" id="btn_delete"><a onclick="return deleteDiary()" href="{{url_for('deleteDiary',id=diary.id)}}">삭제</a></button>

    <script>
        function deleteDiary(){
            var ans = confirm("정말로 삭제하시겠습니까?");
            if (ans){
                return true;
            }else{
                return false;
            }
        }
    </script>
</body>
</html>