<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        button{
            border-radius: 5px;
            background: linear-gradient(#4481eb,#04befe);
            color: white;
        }
    </style>
</head>
<body>
    <form method="POST" name="add_form" enctype="multipart/form-data">
        {{form.csrf_token}}
        <label for="diary_title">제목</label>
        <input type="text" class="form-control" id="diary_title" name="diary_title" required/><br><br>
        
        <label for="diary_date">날짜</label>
        <input type="date" class="form-control" id="diary_date" name="diary_date" required/><br><br>
        
        <label for="diary_content">내용</label>
        <textarea cols="50" rows="20" class="form-control" id="diary_content" name="diary_content"></textarea><br><br>
        
        <label for="image">사진 업로드</label>
        <input type="file" id="image" name="image"/>

        <button type="submit" id="btn_upload">완료</button>
    </form>
</body>
</html>